:root {
    --main-color: #161415;
    --secondary-color: #ED1D24;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--main-color);
    color: #fff;
}

button {
    transition: .3s;
}

button:hover {
    opacity: .85;
}

button.enroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background: var(--secondary-color);
    color: #fff;
    border: none;
    font-weight: 400;
}

.top {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(180deg, #161415 25.96%, rgba(0, 0, 0, 0) 74.01%, #161415 100%), url('../img/bg1.jpg');
    background-size: cover;
    overflow: hidden;
}

/* .bg img {
    min-width: 100%;
} */

.top .info {
    width: 100%;
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.logo>* {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo .name {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 3.6rem;
    /* line-height: 95px; */
    letter-spacing: 0.1em;
    text-align: center;
}

.logo .moto {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: center;

}

.top .invite {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 70%;
    align-items: center;
}

.top .invite button {
    width: 312px;
    height: 65px;
    font-size: 2rem;
    margin-top: 60px;
}

.top .invite h2 {
    margin-top: 5%;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 81px;
    letter-spacing: 0.1em;
    text-align: center;
    max-width: 800px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 3rem;
    font-weight: 200;
    line-height: 81px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 65px;
}

/*  Why We */

.why>div {
    margin-bottom: 50px;
}

.why .name {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    justify-content: flex-start;
    padding-bottom: 7px;
}

.why hr {
    height: 2px;
    opacity: 1;
    width: 90%;
    margin: 0;
    background: var(--secondary-color);
}

.why .body {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.why .name i {
    margin-right: 20px;
}

/* Prices  */

.prices>div {
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.prices .block {
    width: 100%;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;
    /* height: 100%; */
}

.prices .name {
    font-family: Oswald;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 24px;
}

.prices .price {
    font-family: Oswald;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0.1em;
    text-align: left;

}

.prices .body {
    padding: 0 40px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: left;
}

.prices .enroll {
    height: 50px;
    width: 90%;
    margin: 0 10px;
}

.prices .price.old {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
}

.prices .main .block {
    box-shadow: 6px 6px 0 var(--secondary-color);
}

/* Clients */

.clients .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clients .img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100%;
}

.avatar {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: var(--secondary-color);

    font-size: 1.6rem;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar span {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #fff;

    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}

.clients .body {
    font-family: Inter;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

    color: #6D6D6D;

}

.clients .name {
    font-family: Lato;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.clients .bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.clients .spec {
    font-family: Inter;
    font-size: .9rem;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #9C988F;

}

.arrows>span {
    cursor: pointer;
    margin: 0 8px;
    display: inline-block;
    width: 29px;
    height: 29px;
    border-radius: 2px;
    border: 1px solid #E8E4DC;
    position: relative;
    transition: .3s;
}

.arrows>span:hover {
    margin-bottom: 1px;
}

.arrows>span.active {
    background: #FFFFFF;
    box-shadow: 0px 14px 30px -4px rgba(206, 206, 206, 0.5);
}

.arrows>span::before,
.arrows>span::after {
    position: absolute;
    content: "";
    width: 14px;
    border-radius: 2px;
    height: 3px;
    left: 25%;
    background: #2E2E2E;
}

.arrows .next::after,
.arrows .prev::after {
    transform: rotate(45deg);
    top: 30%;
}

.arrows .next::before,
.arrows .prev::before {
    bottom: 30%;
    transform: rotate(-45deg);
}

.arrows .prev {
    transform: rotate(180deg);
}

/*  Contacts */

.contacts {
    background: var(--secondary-color);
    color: #fff;
    padding: 40px;
    display: flex;
    align-items: center;
    height: 500px;
    margin-top: 100px;
}

.contacts .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts .info>div {
    margin: 20px 0;
}

.contacts .name {
    font-size: 2rem;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.contacts img {
    margin-right: 15px;
}

.contacts .body {
    font-family: Oswald;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-decoration: underline;
    padding-left: 50px;
}

.contacts h4 {
    padding: 20px;
    font-size: 3rem;
    font-weight: 300;
    line-height: 81px;
    letter-spacing: 0.1em;
    text-align: center;

}

.contacts .form {
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
    height: 590px;
}

.contacts form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 70px;
}

.contacts input:focus,
.contacts textarea:focus {
    border: 1px solid var(--secondary-color);
}

.contacts input,
.contacts textarea {
    margin: 6px 0;
    width: 100%;
    background: none;
    padding: 16px;
    border: 1px solid transparent;
    border-bottom: 3px solid var(--secondary-color);
}

.contacts textarea {
    border: 2px dashed var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    overflow-y: auto;
    resize: none;
    height: 200px;
}

.contacts .enroll {
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 800px) {
    .top .invite h2 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 992px) {
    .contacts {
        height: auto;
    }
}

footer {
    height: 200px;
}